#container{

}
#loginForm{
	width: 30%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 1px solid #aeaeae;
}
#title{
	
}
#loginButton{
	width: 30%;
}
#signinButton{
	width: 30%;
}